body
{
    margin: 0;
}

h1
{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:900;
    text-shadow: 3px 3px black;
}

.header
{   
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 50px;
    background-color: #C8A2C8;
    background-image: url(../img/Banner.webp);
    height: 100px;
}

.home
{
    background-color: white;
    width: 50px;
    /* padding-top: 10px;
    padding-left: 1cm;
    padding-bottom: 1cm;
    padding-right: 1cm; */
}

.description
{
    padding-top: 1.5cm;
    font-family: 'Times New Roman', Times, serif;
}

.image
{
    padding-top: 1.5cm;
    padding-left: 1.5cm;

}

img
{
    max-width: 400px;
    max-height: 300px;
}

.container
{
    display: flex;
    column-gap: 20px;
}